
<li>
  <span class='header'>Add</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New Board...</b>
    <span class='add-item-description'>
      A board is a flat piece of wood cut from a tree. 
      Often confused for a plank, boards are great for
      cutting things on, or serving cheese.
    </span>
  </a>
</li>
