
<div class='boards-index-title'>
  <h2>My Boards</h2>
</div>

<ul class='boards'>
<% boards.each(function (board) { %>
  <li>
    <a href="#/boards/<%= board.id %>">
      <span class='shadow'></span>
      <span class='details'>        
        <%= board.escape("title") %>
      </span>
    </a>
  </li>
<% }); %>
</ul>