
<div class='boards-index-title'>
  <h3>My Boards</h3>
</div>

<ul class='boards'>
  <% boards.each(function (board) { %>
    <li>
      <a href="#/boards/<%= board.id %>">
        <span class='shadow'></span>
        <span class='details'>        
          <%= board.escape("title") %>
        </span>
      </a>
    </li>
  <% }); %>
</ul>