<div class="panel panel-default list-display" data-list-id="<%= list.escape('id') %>">
  <div class="panel-heading"><h4><%= list.escape('title') %></h4></div>
  <div class="panel-body">
    <div class="cards"></div>
  </div>
  <div class="panel-footer"></div>
</div>
